<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    на цій сторінці будуть коти.
    {% if cats_cat == 0 %} але зараз їх немає 
    {% else %} Зараз їх {{ cats_count }}  штук
    {% endif %}

    <ul>
    {% for cat in cats %}
        <li><a href="{{url_for('cat', id=cat.id) }}">{{cat.name}}</a></li>
    {% endfor %}
    </ul>


    <p>
        <a href="{{ url_for('info') }}">Сторінка інформації</a>
    </p>
</body>
</html>
