<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra info</title>
</head>

<body>
    <p>Вважається, що всі сучасні види котів походять від одного предка – близькосхідної дикої кішки <strong>Felis Sylvestris</strong>.
        Дослідники в основному заснували цю теорію на подібних структурах скелета.</p>
    <h1 style="color:#9F2B68; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Коли вперше одомашнили кішок?</h1>
    <p>Коли справа доходить до історії кішок, досить важко точно визначити, коли вони були вперше одомашнені. Це значною
        мірою пов'язано з раніше згаданим фактом їх надзвичайно схожих скелетів.

    <p>Лише в 1983 році ми отримали перші натяки на одомашнення котів, коли на Кіпрі під час археологічних розкопок
        знайшли котячу щелепу, і вчені визначили, що одомашнення відбулося 8000 років тому. Дослідники вважали, що ця
        кішка, мабуть, була свійською, тому що єдиний шлях, яким вона могла потрапити на острів, був через корабель з
        людьми, і було майже неймовірно, що люди привезли з собою котів, які були абсолютно дикими.
    </p>
    <p>
        Подальші дослідження 2004 року ще більше відсунули в минуле час одомашнення котів, оскільки, згідно зі
        Смітсонівським інститутом, був знайдений кіт, якого навмисно похованим разом з людиною, якій, як вважають, було
        9500 років.
    </p>
    <p>
        Відтоді у 2017 році в Левенському університеті було проведено ще одне дослідження. Це дослідження проаналізувало
        ДНК 200 кішок, знайдених в археологічних місцях на Близькому Сході, в Африці та Європі. Вік цих знахідок
        варіювався від 100 до 9000 років тому, а деякі припускають, що вік досягає 12 000 років.
    </p>
    <p>
        Як стверджує Смітсонівський інститут, деякі дослідники також вважають, що початковий процес одомашнення почався
        з найперших сільськогосподарських поселень близько 12 000 років тому на Близькому Сході. Історики припускають,
        що коли люди почали вирощувати зернові культури та використовувати зернові склади, це привернуло мишей і щурів,
        а з великою кількістю здобичі з’явилися і дикі коти. Цілком ймовірно, що люди визнали великі переваги боротьби
        зі шкідниками, тому вони дозволили цим котам залишитися, що згодом призвело до того, що коти жили в їхніх
        будинках і стали їхніми супутниками.
    </p>
    <a href="{{ url_for('home') }}"> Повернутись на головну </a>
</body>

